
        @import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');
        
        *,*:after,*:before{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            font-family: 'Fragment Mono', monospace;
            display: grid;
            place-content: center;
            min-height: 100vh;
            background-color: #F9EEFF;
            color: #222;
        }
        .container{
            display: grid;
            grid-template-columns:1fr ;
            grid-template-rows: 66px auto; 
            gap: 1rem;
            height: 100vh; 
        }
        .container{
            display: grid;
            grid-template-columns:1fr ;
            grid-template-rows: 66px auto; 
            gap: 1rem;
            height: 100vh; 
        }
        
        .container > div{
            background-color: #ffffff;
            border-radius: 10px;
            padding: 1rem;
        }
        .container .nav{
            grid-column: 1 / -1;
            display: flex;
            justify-content:space-between;;
            align-items: center;
            gap:2rem;
            border-radius: 10px 10px 0 0;
        }
        .container .nav >*{
            height: fit-content;
            cursor: pointer;
        }
        .container .nav h3{
            margin-left: 1rem;
        }
        .container .nav p{
            font-size: 15px;
        }
        .container .nav > p:hover{
            text-decoration: underline;
        }
        
        .container .nav .segment-box{
            display: flex;
            gap: .5rem;
            background-color: #2f5ab6;
            padding: 1rem;
            border-radius: 6px;
            color: #f4f4f4;
            transition: all .2s;
        }
        
        .container .nav .segment-box i{
            font-size: 20px;
            color: #f4f4f4;
        }
        .container .nav img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 1rem;
            transition: all .3s;
        }
        .container .nav img:hover{
            box-shadow: 0 0 0 3px #2f5ab6;
        }
        .container .nav .segment-box{
            margin-left: auto;
        }
       #buttons-container {
            display: flex; /* flexbox 레이아웃을 활성화합니다. */
            align-items: center; /* 요소들을 세로 방향 가운데로 정렬합니다. */
            justify-content: space-around; /* 요소들 사이에 공간을 균등하게 배분합니다. */
            gap: 1rem; /* 요소들 사이의 간격을 설정합니다. */
        }
        
         .map-container {
            width: 100%; height: calc(100vh - 66px - 1rem);
}

